/* .container {
  margin: 0 auto;
  max-width: 1192px;
  width: 100%
}
.widget{
  width: 33.3333333333%;
  position: relative;
  padding-left: 21px;
  padding-right: 21px;
  float: left;
} */
.widgetApp {
  text-align: left;
  padding: 10px;
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.widgetHeader {
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: 300;
  padding: 0.5em 0;
}
.widgetFooter {
  font-weight: 600;
  font-size: 1em;
  display: inline-block;
  color: #84919c;
  width: 100%;
  position: relative;
}

.arrow  {
  display: inline-block;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}
.footerText {
  float: left;
  width: calc(100% - 28px);
}
.footerText:hover {
  color: #00538f;
}